/vendor/
.phpunit.result.cache
.vscode/
.DS_Store
Thumbs.db
*.log
*.tmp
*.cache
*.swp
*.bak
*.orig
*.save
/.idea/
/*.sublime-project
/*.sublime-workspace
/.phpstorm.meta.php/
/build/
/dist/
/node_modules/
/coverage/
/test-output/